<html>
<head>
<meta charset="ISO-8859">
<title>>Registration</title>
</head>
<body>
	<form action="registration" method="post">
	<label><input type="text" FirstName: name="fname" ></label> <br><br>
	<label><input type="text" LastName: name="lname"></label> <br><br>
	<label><input type="date" DateofBirth: name="dob"></label> <br><br>
	<label><input type="email" Email: name="mail"></label> <br><br>
	<label><input type="password" Password: name="password"></label> <br><br>
	<input type="submit" value="go">
	</form>
</body>
</html>